services:
  nginx:
    image: nginx:latest
    container_name: reverse_proxy
    env_file: .env
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf.template:/etc/nginx/nginx.conf.template
      - ${CERTS_PATH}:/etc/nginx/certs
    command: /bin/bash -c "envsubst < /etc/nginx/nginx.conf.template > /etc/nginx/nginx.conf && nginx -g 'daemon off;'"
